* {
  /* why if i cahnge background color half of the table disappear */
  font-family: Arial, Helvetica, sans-serif;
}

#board {
  background-image: url("board.png");
  background-size: 303px;
  margin: 50px auto 0;
  width: 310px;
  height: 310px;
  color: #fff;
}

.title {
  margin: auto;
  text-align: center;
  padding: 10px;
}

.tile {
  display: inline-block;
  width: 100px;
  height: 100px;
  color: #fff;
}

.turnRed {
  background-image: url("red.png");
  background-size: 100px;
}
.turnYellow {
  background-image: url("yellow.png");
  background-size: 100px;
}
.visibility {
  background-image: none;
}

.color {
  background-color: yellow;
}

button {
  margin-top: 50px;
}
